* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #2aa9e0;
}

.img-logo {
  width: 23rem;
  height: 15rem;
  margin-top: -4rem;
}
.img-logo2 {
  width: 16rem;
  height: 6rem;
  margin-top: -5rem;
}

#input-content {
  margin-top: 2rem;
  padding: 8px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: #2aa9e0;
}

#input-content input {
  padding: 12px;
  display: flex;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  border: 0;
  background: #e4e4e4;
  border-radius: 4px;
  width: 80%;
  margin-top: 2rem;
}

#input-content input:focus {
  outline: 0;
}

#input-content button {
  align-items: center;
  font-size: 1rem;
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  background: #df2935;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-weight: 500;
}

#input-content button:hover {
  cursor: pointer;
  background: #d12b36;
}

#conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 4rem;
}

#content-conteudo ul li {
  list-style: none;
  margin-top: 3px;
  background: #e4e4e4;
  padding: 1px;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;
}
